@use '../base/index.scss' as *;
@use '../components/index.scss' as *;

.info-label{
    //border: $basic-border;
    padding: 1rem;
    width: 100%;
    color: $whitish2;
    @include header-box;
    text-align: center;

}