@use '../base/index.scss' as *;
@use '../components/index.scss' as *;


.main-content{

    background-color: $light-blue;
    border: $basic-border;
    padding: 1rem;
    margin: 1rem;
    overflow: hidden;
    width: 100%;

    .list-content{
        
        padding: 1rem;

        .movie-content{
       
            border: 2px dotted $seagreen;
            margin: 1rem;
            padding: 1rem;

            .movie-title{
                display: block;
                width: 100%;
             }
            .movie{
                display: flex;

                .movie-poster{
                    max-width: 200px;
                    width: 100%;
                }

                .movie-info{
                    margin: 0 1rem;
                    padding: 1rem;
                    max-width: 500px;
            
                    //min-width: 300px;
                }
            }
        }
    }

}