$dark-seagreen: #027373;
$seagreen: #038C7F;
//bedre kontrast med svart
$seagreen2: #04A192;
//superkontrast
$light-blue: #A9D9D0;
$black: #0D0D0D;
//Kontrast ok 4,66
$whitish: #F2E7DC;
//kontrast med dark-seagreen 5,01
$whitish2: #FCEFDE;