@use '../base/index.scss' as *;

@mixin searchButton() {
    background-color: $orange;
    border: none;
    padding: 0.2rem;
    margin: 0.2rem;
    border-radius: 10%;
    //width:20px;
    .search-icon{
        min-width: 20px;
    }
}

   